---
---

<div class="card bg-primary mt-20 mx-auto max-w-3xl rounded-lg flex flex-col items-center text-center shadow-xl">
    <figure>
    <img src="src/assets/focus.jpeg" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-3xl text-black text-white mt-10">Stay focused, stay productive!</h2>
      <p class="text-slate-200">20-minute deep focus is what it takes</p>
      <div class="card-actions mt-10">
        <button class="btn btn-primary">Get Now</button>
      </div>
    </div>
  </div>