---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Customizable Timer",
    description:
      "Build your own focus with customized timer and alarm when timer is up",
    icon: "bx:bxs-alarm",
  },
  {
    title: "Ambient Soundscapes",
    description:
      "Focus20 offers a list of calming music to create the ideal focused environment",
    icon: "bx:bxs-music",
  },
  {
    title: "100% IOS native",
    description:
      "Available on iphone, ipad and macbook. Secure and reliable.",
    icon: "bx:bxl-apple",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to stay focused
  </h2>
  <p class="text-lg mt-4">
    Focus 20 comes to rescue whenever you feel distracted and lose focus. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
